html {
	box-sizing: border-box;
}

*, *:after, *:before {
	box-sizing: inherit;
}


#header {
	height: 120px;
	background: red;
}


#search {
	height: 66%;
	background: #FFFFFF;
}

#search #search_logo, #search input, #search div {
	display: inline-block;
}

#search input {
	margin-top: 20px;
}

#search .float_right {
	float: right;
}

#search .float_left {
	float: left;
}

#nav {
	height: 33%;
	background: purple;
	clear: both;
}

#body {

}

h6 {
	margin: 0;
	padding: 0;
}

#search_logo {
	background-image: url(assets/etsy_logo_lg_rgb.png);
	height: 76px;
	width: 200px;
	background-position-y: -17px;
	background-repeat: no-repeat;
	background-size: 159px 104px;
}

#search_cart {
	background-image: url(assets/cart.png);
	height: 34px;
	width: 32px;
	background-repeat: no-repeat;
	margin: 0;
	padding: 0;
}

#search_cart + p {
	margin: 0;
}

ul, li {
	list-style: none;
	margin-left: 0px;
	float: left;
}

.navItems {
	margin-left: 0px;
}

.swatch {
	border: 1px solid #e2e2e2;
	border-radius: 3px;
	height: 22px;
	width: 22px;
}

#col1 {
	width: 20%;
	/*display:inline-block;*/
	background: orange;
	float:left;
	margin-left: -832px;
}

#col2 {
	background: purple;
	width: 80%;
	left: 280px;
}

.categoryTopRow {
	height: 100px;
	width: 50px;
	background-color: cyan;
	display: inline-block;
}

.categoryTopRow img {
	height: 50%;
	width: 50%;
}
.test {
	margin-left: 0px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-right: 10px	;
}



