/*div {
	height: 100px;
	width: 100px;
	background: blue;
}
*/

html {
	box-sizing: border-box;
}

*, *:after, *:before {
	box-sizing: inherit;
}

.search {
	height: 81px;
	width: 100%;
	background: #FFFFFF;
	border-bottom: 1px solid #E2E2E2;
}

#search_logo {
	background-image: url(assets/etsy_logo_lg_rgb.png);
	height: 76px;
	width: 132px;
	background-position-y: 12px;
	background-position-x: 24px;
	background-repeat: no-repeat;
	background-size: 101px 57px;
	float: left;
}

.float_left {
	float: left;
}

input {
	margin-top: 22px;
	width: 379px;
	border-radius: 3px;	
	font-size: 14px;
	outline: none;
	padding: 8px;
	background-color: #FBFBFA;
	border: 1px solid transparent;
	border-top: none;
	border-bottom: 1px solid #DDD;
	box-shadow: inset 0 1px 2px rgba(0,0,0,.39), 0 -1px 1px #FFF, 0 1px 0 #FFF;
}

input:focus {
	background-color: #FFFFFF;
	border: 1px solid black;
}

.submitButton {
	background-color: #34A8C4;
	border-color: rgba(0, 0, 0, 0.1);
	color: #fff;
	border-width: 1px;
	border-style: solid;
	border-radius: 3px;
	font-family: inherit;
	font-size: 14px;
	font-weight: bold;
	width: 80px;
	margin-left: -2px;
	height: 33px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}

.submitButton:hover {
	background-color: #3cb1cb;
	border-color: rgba(0, 0, 0, 0.2);
}

.blueFont {
	color: #0192B5;
}

.blueFont:hover {
	text-decoration: underline;
}

.float_right {
	float: right;
	margin-top: 26px;
	margin-right: 15px;
	font-size: 14px;
	padding: 8px;
	height: 35px;
}


.outline {
	border: 1px solid;
	width: 65px;
	border-radius: 3px;
	color: #0192B5;
}

.outline:hover {
	background-color: #F0FBFD;
}

#search_cart {
	background-image: url(assets/cart.png);
	background-size: 20px;
	height: 19px;
	width: 32px;
	background-repeat: no-repeat;
	margin: 0;
	margin-top: -9px;
	padding: 0;
	color: #666666;
}

.small {
	font-size: 12px;
	margin-top: 5px;
	margin-right: 5px;
	color: #666666;
}

h5 {
	color: #444444;
	font-weight: bold;
	font-size: 13px;
	line-height: 1.4;
	margin-bottom: 12px;
}
.separator {
	border-left: 1px solid #E6E6E6;
}

#nav {
	height: 30px;
	width: 100%;
	background: #FFFFFF;
	border-bottom: 1px solid #DDDDD9;
}

.navItems:hover {
	color: black;
}

.shift_right {
	margin-right: 15px;
	float: right;
}


li {
	list-style: none;
	float: left;
	margin-right: 26px;
	color: #777777;
	font-size: 14px;
}

#body {
	height: 3029px;
	width: 100%;
	background: #F5F5F1;
	display: flex;
}

#col1 {
	height: 1000px;
	width: 21%;
	/*border-right: 1px solid #E2E2E2;*/
	display: flex;
	flex-direction: column;
	padding-left: 36px;
	padding-right: 24px;
	padding-top: 7px;
	/*background: orange;*/
}

#col2 {
	height: 1000px;
	width: 80%;
	padding-top: 9px;
	padding-right: 36px;
}

#topRow, #secondRow, .galleryRow {
	height: 300px;
	width: 100%;
	display: flex;
	justify-content: space-between;
}

#gallery {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 100%;
	/*margin: -7px;*/
}

#showResults {
	height: 449px;
	width: 100%;
	background: #FFFFFF;
	margin-bottom: 4px;
	border: 1px solid #E1E3DF;
}

#refineSearch {
	height: 661px;
	width: 100%;
	background: #FFFFFF;
	border: 1px solid #E1E3DF;

}

.col1List a {
	text-decoration: none;
	line-height: 2.0;
}

.col1List {
	margin-left: -13px;
	font-size: 13px;
	margin-right: 54px;
}

.col1List_header, .componentTitle {
	text-decoration: none;
	margin-left: -27px;
	margin-top: 16px;
	color: #444444;
	font-weight: bold;
	font-size: 13px;
}

.componentTitle {
	margin-left: 2px;
	margin-bottom: 8px;
}

.topRow {
	height: 300px;
	width: 32%;
	background: red;
	opacity: 0.85;
	transition: opacity 0.25s;
} 

.topRow:hover, .secondRow:hover {
	opacity: 1;
}

.topRow:first-child {
	background: url(assets/engravedWhiskeyBottle.jpg);
	background-size: 410px 304px;

}

.topRow:nth-child(2) {
	background: url(assets/whiskeyLetterPress.jpg);
	background-size: 402px 372px;
	background-position-x: -34px;
	background-position-y: -55px;

}

.topRow:nth-child(3) {
	background: url(assets/whiskeyGlass.jpg);
	background-size: 398px 298px;
	background-position-x: -32px;
}

.secondRow {
	height: 200px;
	width: 24%;
	background: purple;
	opacity: 0.85;
	transition: opacity 0.25s;
}

.secondRow:first-child {
	background: url(assets/whiskeyTank.jpg);
	background-size: 256px;
	background-position-y: -50px;
}

.secondRow:nth-child(2) {
	background: url(assets/groomsmanGlass.jpg);
	background-size: 256px;
	background-position-y: -30px;
}

.secondRow:nth-child(3) {
	background: url(assets/whiskeyCuffLinks.jpg);
	background-size: 362px;
	background-position-x: -100px;
}

.secondRow:nth-child(4) {
	background: url(assets/whiskeyRing.jpg);
	background-size: 255px;
}


.galleryItem {
	height: 300px;
	width: 24%;
	background: white;
	border-radius: 3px;
	margin-bottom: 45px;
}

#secondRow, .galleryRow {
	margin: 18px 0;
	height: 241px;
}

#footer {
	width: 100%;
	height: 400px;
	background: magenta;
	padding-left: 288px;
}

#related {
	display: flex;
	/*background: pink;*/
	height: 100px;
	width: 100%;
}

#pageCounter, #subscribeSignUp {
	height: 40px;
	width: 400px;
	background: aqua;
}

#subscribe {
	padding-left: 300px;
}

.truncate {
	width: 250px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.galleryItem img {
	height: 217px;
	width: 267px;
}

.rounded {
	border-radius: 3px;
}

label {
	display: block;
}

.radio-label, .checkbox-label {
	display: inline-block;
	vertical-align: middle;
	font-size: 13px;
	text-decoration: none;
	/*font-weight: bold;*/
}

.radio-label:before	{
	border-radius: 50%;
	height: 18px;
	width: 18px;
	background: #FFF;
	border: 1px solid #CBCCC9;
	content: "";
	position: absolute;
	left: 0;
	top: 1px;
}
.radio, .checkbox {
	opacity: 0;
	margin-right: 0;
	position: absolute;
	left: 1px;
	top: -20px;
	display: inline-block;
	height: 16px;
	width: 16px;
	vertical-align: middle;
}

.radio-custom, .checkbox-custom {
	position: relative;
	padding-left: 22px;
	margin-bottom: 5px;
}

.radio-custom *:checked+.radio-label:before {
	background: #34A8C4;
	border-color: #ADAEAA;
	box-shadow: inset 0 1px 4px -1px #F5F5F1, inset 0 0 0 3px #FFF;
}

.label_item {
	margin-left: 2px;
}

.refineSearchComponent {
	line-height: 1.2;
	margin: auto;
	width: 90%;
	border-bottom: 1px solid #ccc;
	padding-bottom: 21px;
	padding-left: 0px;
}

.subComponent {
	margin-top: 0px;
}

.priceInput {
	width: 68px;
	margin-top: -1px;
	background-color: #FFF;
	padding: 10px;
}

.inline {
	display: inline-block;
	margin-top: 0px;
	font-size: 13px;
}

.btn {
	border-radius: 3px;
	border: 1px solid #444;
	height: 38px;
	text-align: center;
	line-height: 1.4;
	padding: 8px 16px;
	border: 1px solid transparent;
	border-top: none;
	border-bottom: 1px solid #DDD;
	box-shadow: inset 0 1px 2px rgba(0,0,0,.39), 0 -1px 1px #FFF, 0 1px 0 #FFF;
	position: relative;
}

.btn:hover {
	background-color: #F9F9F7;
	border-color: rgba(0,0,0,0.2);
}

.btn:before {
	position: absolute;
	content: "";
	display: block;
	height: 0px;
	width: 0px;
	border: 6px solid transparent;
	border-left-color: #444444;
	top: 11px;
	left: 13px;
}

.swatch {
	border: 1px solid #E2E2E2;
	border-radius: 3px;
	height: 22px;
	width: 22px;
	padding: 1px;
	overflow: hidden;
	display: inline-block;
	float: left;
}

.swatchList {
	margin: 0px;
	margin-right: 3px;
}

.swatchListContainer {
	display: flex;
	padding-left: 0px;
}

.checkbox-label:before {
	border-radius: 3px;
	height: 18px;
	width: 18px;
	background: #FFF;
	border: 1px solid #CBCCC9;
	content: "";
	position: absolute;
	left: 0;
	top: 1px;
}

.select {
	display: block;
	font-size: 14px;
	height: 38px;
	padding-left: 12px;
	width: 100%;
	-webkit-appearance: none;	
	position: relative;
}

.select:focus {
	outline:none;
}

.select-custom {
	border-radius: 3px;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
	background-color: #FFF;
	border: 1px solid rgba(0, 0, 0, 0.15);
	border-bottom-color: rgba(0, 0, 0, 0.2);
}

.select-custom:hover {
	border-color: #ADAEAA;
}

.select-wrap {
	position: relative;
}

.select-wrap:after {
	position: absolute;
	content: "";
	display: block;
	height: 0px;
	width: 0px;
	border: 6px solid transparent;
	border-top-color: #CBCCC9;
	top: 17px;
	left: 173px;
}

.shipToComponent {
	border-bottom: transparent;
}

h3 {
	font-weight: 500;
	font-size: 18px;
	line-height: 1.2;
	color: #444444;
	margin-bottom: 12px;
	/*font-weight: bold;*/
}



