/*div {
	height: 100px;
	width: 100px;
	background: blue;
}
*/

html {
	box-sizing: border-box;
}

*, *:after, *:before {
	box-sizing: inherit;
}

.search {
	height: 81px;
	width: 100%;
	background: #FFFFFF;
	border-bottom: 1px solid #E2E2E2;
}

#search_logo {
	background-image: url(assets/etsy_logo_lg_rgb.png);
	height: 76px;
	width: 132px;
	background-position-y: 12px;
	background-position-x: 24px;
	background-repeat: no-repeat;
	background-size: 101px 57px;
	float: left;
}

.float_left {
	float: left;
}

input {
	margin-top: 22px;
	width: 400px;
	border-radius: 3px;	
	font-size: 14px;
	outline: none;
	padding: 8px;
	background-color: #FBFBFA;
	border: 1px solid transparent;
	border-top: none;
	border-bottom: 1px solid #DDD;
	box-shadow: inset 0 1px 2px rgba(0,0,0,.39), 0 -1px 1px #FFF, 0 1px 0 #FFF;
}

input:focus {
	background-color: #FFFFFF;
	border: 1px solid black;
}

.submitButton {
	background-color: #34A8C4;
	border-color: rgba(0, 0, 0, 0.1);
	color: #fff;
	border-width: 1px;
	border-style: solid;
	border-radius: 3px;
	font-family: inherit;
	font-size: 14px;
	font-weight: bold;
	width: 80px;
	margin-left: -2px;
	height: 33px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}

.submitButton:hover {
	background-color: #3cb1cb;
	border-color: rgba(0, 0, 0, 0.2);
}

.blueFont {
	color: #0192B5;
}

.blueFont:hover {
	text-decoration: underline;
}

.float_right {
	float: right;
	margin-top: 26px;
	margin-right: 15px;
	font-size: 14px;
	padding: 8px;
	height: 35px;
}


.outline {
	border: 1px solid;
	width: 65px;
	border-radius: 3px;
	color: #0192B5;
}

.outline:hover {
	background-color: #F0FBFD;
}

#search_cart {
	background-image: url(assets/cart.png);
	background-size: 20px;
	height: 19px;
	width: 32px;
	background-repeat: no-repeat;
	margin: 0;
	margin-top: -9px;
	padding: 0;
	color: #666666;
}

.small {
	font-size: 12px;
	margin-top: 5px;
	margin-right: 5px;
	color: #666666;
}

h5 {
	color: #444444;
	font-weight: bold;
	font-size: 13px;
	line-height: 1.4;
	margin-bottom: 12px;
}
.separator {
	border-left: 1px solid #E6E6E6;
}

#nav {
	height: 30px;
	width: 100%;
	background: #FFFFFF;
	border-bottom: 1px solid #DDDDD9;
}

.navItems:hover {
	color: black;
}

.shift_right {
	margin-right: 15px;
	float: right;
}


li {
	list-style: none;
	float: left;
	margin-right: 28px;
	color: #777777;
	font-size: 14px;
}

#body {
	height: 3029px;
	width: 100%;
	background: #F5F5F1;
	display: flex;
}

#col1 {
	height: 1000px;
	width: 20%;
	border-right: 1px solid #E2E2E2;
	display: flex;
	flex-direction: column;
	padding-left: 36px;
	padding-right: 24px;
	padding-top: 7px;
	/*background: orange;*/
}

#col2 {
	height: 1000px;
	width: 80%;
	padding-top: 58px;
	padding-right: 36px;
}

#topRow, #secondRow, .galleryRow {
	height: 300px;
	width: 100%;
	display: flex;
	justify-content: space-between;
}

#gallery {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 100%;
	/*margin: -7px;*/
}

#showResults, #refineSearch {
	height: 401px;
	width: 100%;
	background: #FFFFFF;
}

#showResults {
	margin-bottom: 4px;
	padding-left:0;
/*	margin-top: 58px;
*/}

.col1List a {
	text-decoration: none;
	line-height: 2.38;
}

.col1List {
	margin-left: -13px;
	font-size: 13px;
}

.col1List_header {
	text-decoration: none;
	margin-left: -27px;
	color: #444444;
	font-weight: bold;
	font-size: 13px;
}

.topRow {
	height: 300px;
	width: 32%;
	background: red;
}

.secondRow {
	height: 200px;
	width: 24%;
	background: purple;
}

.galleryItem {
	height: 300px;
	width: 24%;
	background: white;
	border-radius: 3px;
	margin-bottom: 45px;
}

#secondRow, .galleryRow {
	margin: 18px 0;
	height: 241px;
}

#footer {
	width: 100%;
	height: 400px;
	background: magenta;
	padding-left: 288px;
}

#related {
	display: flex;
	/*background: pink;*/
	height: 100px;
	width: 100%;
}

#pageCounter, #subscribeSignUp {
	height: 40px;
	width: 400px;
	background: aqua;
}

#subscribe {
	padding-left: 300px;
}

.truncate {
	width: 250px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.galleryItem img {
	height: 217px;
	width: 267px;
}

.rounded {
	border-radius: 3px;
}

